//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 17 11:11:47 2016
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "T10" LEVEL 1;
COMP "B" LOCATE = SITE "T9" LEVEL 1;
COMP "C" LOCATE = SITE "V9" LEVEL 1;
COMP "Y" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

