//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 24 11:47:20 2016
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "K3" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "C" LOCATE = SITE "P11" LEVEL 1;
COMP "Y" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

