//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 16 18:52:51 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Q<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Q<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Clk" LOCATE = SITE "V10" LEVEL 1;
COMP "Clr" LOCATE = SITE "B8" LEVEL 1;
SCHEMATIC END;

